# Dependencies
node_modules/
yarn.lock
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db